---
import Layout from '../layouts/Layout.astro';
import HeroContainerEs from '../components/Hero/HeroContainer/HeroContainerEs.astro';
---

<Layout
  title="Milvus Travel"
  description="Agencia de viajes personalizados"
  language="es">
  <HeroContainerEs />
  <div class="h-[700px] bg-two"></div>
</Layout>

<style></style>
