---
import HeroContainerEn from '../../components/Hero/HeroContainerEn.astro';
import LanguajeSelector from '../../components/Hero/LanguajeSelector.jsx';
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Milvus Travel"
  description="Agencia de viajes personalizados"
  language="ar">
  <HeroContainerEn />
  <h1>ÁRABE</h1>
</Layout>

<style></style>
